1) Data Collection
2) Preprocessing
3) Model
4) Website
5) Deploy

In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies.merge(credits,on='title').shape

(4809, 23)

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [10]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [7]:
credits.shape

(4803, 4)

In [8]:
movies = movies.merge(credits,on='title')

In [9]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
# list of important columns among all
# genres
# id
# keywords
# title
# overview
# cast
# crew

movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [12]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.dropna(inplace=True)

In [15]:
movies.duplicated().sum()

0

Genres Column
-

In [16]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
# [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
# ['Action','Adventure','Fantasy','SciFi']

In [18]:
import ast
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [19]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [20]:
movies['genres'] = movies['genres'].apply(convert)

In [21]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

Keyword Column
-

In [22]:
movies['keywords'] = movies['keywords'].apply(convert)

In [23]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

Cast Column
-

- we will only consider top 3 actors with actual names

In [24]:
import ast
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [25]:
movies['cast'] = movies['cast'].apply(convert3)

In [26]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

Crew Column
-

- we will only consider director name from crew.

In [28]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [30]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [31]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [32]:
# overview column is string so convert into list.
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [33]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [35]:
#  'Sam Worthington' --> 'SamWorthington'
# to make it one entity to recommend along with surname,name might be same

In [37]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ','') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(' ','') for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(' ','') for i in x])

In [38]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [39]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [40]:
movies.head()

,id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [43]:
new_df = movies[['id','title','tags']]

In [46]:
new_df['tags'] = new_df['tags'].apply(lambda x:' '.join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_2652\2266712157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:' '.join(x))

In [47]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [48]:
# convert everything into lowercase
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_2652\2832394306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [49]:
new_df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

Text Vectorisation
-

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [51]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [52]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [53]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [57]:
cv.max_features

5000

Stemming
-

In [62]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
     - -------------------------------------- 0.0/1.5 MB 217.9 kB/s eta 0:00:07
     - -------------------------------------- 0.1/1.5 MB 357.2 kB/s eta 0:00:05
     -- ------------------------------------- 0.1/1.5 MB 420.8 kB/s eta 0:00:04
     ---- ----------------------------------- 0.2/1.5 MB 615.9 kB/s eta 0:00:03
     ---- ----------------------------------- 0.2/1.5 MB 615.9 kB/s eta 0:00:03
     ---- ----------------------------------- 0.2/1.5 MB 615.9 kB/s eta 0:00:03
     ---- ----------------------------------- 0.2/1.5 MB 615.9 kB/s eta 0:00:03
     ----- ---------------------------------- 0.2/1.5 MB 444.2 kB/s eta 0:00:03
     ------ --------------------------------- 0.2/1.5 MB 464.5 kB/s eta 0:00:03
     ------- -------------------------------- 0.3/1.5 MB 519.7 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 542.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 542.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 542.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 542.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 418.0 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 436.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 436.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 436.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 436.9 kB/s eta 0:00:03
     -------- ------------------------------- 0.3/1.5 MB 436.9 kB/s eta 0:00:03
     --------- ------------------------------ 0.4/1.5 MB 363.9 kB/s eta 0:00:04
     --------- ------------------------------ 0.4/1.5 MB 363.9 kB/s eta 0:00:04
     --------- ------------------------------ 0.4/1.5 MB 363.9 kB/s eta 0:00:04
     --------- ------------------------------ 0.4/1.5 MB 363.9 kB/s eta 0:00:04
     --------- ------------------------------ 0.4/1.5 MB 363.9 kB/s eta 0:00:04
     --------- ------------------------------ 0.4/1.5 MB 363.9 kB/s eta 0:00:04
     ---------- ----------------------------- 0.4/1.5 MB 303.1 kB/s eta 0:00:04
     ---------- ----------------------------- 0.4/1.5 MB 303.1 kB/s eta 0:00:04
     ---------- ----------------------------- 0.4/1.5 MB 303.1 kB/s eta 0:00:04
     ----------- ---------------------------- 0.4/1.5 MB 316.2 kB/s eta 0:00:04
     ------------ --------------------------- 0.5/1.5 MB 324.1 kB/s eta 0:00:04
     ------------ --------------------------- 0.5/1.5 MB 327.6 kB/s eta 0:00:04
     ------------ --------------------------- 0.5/1.5 MB 327.6 kB/s eta 0:00:04
     ------------ --------------------------- 0.5/1.5 MB 327.6 kB/s eta 0:00:04
     ------------ --------------------------- 0.5/1.5 MB 327.6 kB/s eta 0:00:04
     ------------- -------------------------- 0.5/1.5 MB 299.5 kB/s eta 0:00:04
     ------------- -------------------------- 0.5/1.5 MB 306.2 kB/s eta 0:00:04
     -------------- ------------------------- 0.6/1.5 MB 310.1 kB/s eta 0:00:04
     ---------------- ----------------------- 0.6/1.5 MB 339.0 kB/s eta 0:00:03
     ---------------- ----------------------- 0.6/1.5 MB 339.0 kB/s eta 0:00:03
     ---------------- ----------------------- 0.6/1.5 MB 339.0 kB/s eta 0:00:03
     ---------------- ----------------------- 0.6/1.5 MB 339.0 kB/s eta 0:00:03
     ---------------- ----------------------- 0.6/1.5 MB 339.0 kB/s eta 0:00:03
     ---------------- ----------------------- 0.6/1.5 MB 339.0 kB/s eta 0:00:03
     ----------------- ---------------------- 0.6/1.5 MB 312.4 kB/s eta 0:00:03
     ----------------- ---------------------- 0.6/1.5 MB 312.4 kB/s eta 0:00:03
     ----------------- ---------------------- 0.6/1.5 MB 312.4 kB/s eta 0:00:03
     ----------------- ---------------------- 0.6/1.5 MB 312.4 kB/s eta 0:00:03
     ------------------ --------------------- 0.7/1.5 MB 304.6 kB/s eta 0:00:03
     ------------------ --------------------- 0.7/1.5 MB 302.8 kB/s eta 0:00:03
     ------------------ --------------------- 0.7/1.5 MB 302.8 kB/s eta 0:00:03
     ------------------ --------------------- 0.7/1.5 MB 302.8 kB/s eta 0:00:03
     ------------------ --------------------- 0.7/1.5 MB 302.8 kB/s eta 0:00:03
     ------------------- -------------------- 0.7/1.5 MB 292.1 kB/s eta 0:00:03
     -------------------- ------------------- 0.8/1.5 MB 303.1 kB/s eta 0:00:03
     -------------------- ------------------- 0.8/1.5 MB 303.3 kB/s eta 0:00:03
     --------------------- ------------------ 0.8/1.5 MB 309.7 kB/s eta 0:00:03
     --------------------- ------------------ 0.8/1.5 MB 309.7 kB/s eta 0:00:03
     --------------------- ------------------ 0.8/1.5 MB 309.7 kB/s eta 0:00:03
     --------------------- ------------------ 0.8/1.5 MB 309.7 kB/s eta 0:00:03
     --------------------- ------------------ 0.8/1.5 MB 297.9 kB/s eta 0:00:03
     ---------------------- ----------------- 0.8/1.5 MB 300.2 kB/s eta 0:00:03
     ----------------------- ---------------- 0.9/1.5 MB 309.4 kB/s eta 0:00:03
     ----------------------- ---------------- 0.9/1.5 MB 309.6 kB/s eta 0:00:03
     ------------------------ --------------- 0.9/1.5 MB 317.0 kB/s eta 0:00:02
     ------------------------ --------------- 0.9/1.5 MB 315.4 kB/s eta 0:00:02
     ------------------------- -------------- 1.0/1.5 MB 319.0 kB/s eta 0:00:02
     ------------------------- -------------- 1.0/1.5 MB 319.0 kB/s eta 0:00:02
     ------------------------- -------------- 1.0/1.5 MB 319.0 kB/s eta 0:00:02
     ------------------------- -------------- 1.0/1.5 MB 319.0 kB/s eta 0:00:02
     ------------------------- -------------- 1.0/1.5 MB 304.9 kB/s eta 0:00:02
     -------------------------- ------------- 1.0/1.5 MB 311.7 kB/s eta 0:00:02
     --------------------------- ------------ 1.0/1.5 MB 313.4 kB/s eta 0:00:02
     --------------------------- ------------ 1.1/1.5 MB 316.8 kB/s eta 0:00:02
     ---------------------------- ----------- 1.1/1.5 MB 321.4 kB/s eta 0:00:02
     ----------------------------- ---------- 1.1/1.5 MB 326.1 kB/s eta 0:00:02
     ------------------------------ --------- 1.1/1.5 MB 329.2 kB/s eta 0:00:02
     ------------------------------ --------- 1.2/1.5 MB 330.6 kB/s eta 0:00:02
     ------------------------------- -------- 1.2/1.5 MB 333.5 kB/s eta 0:00:01
     -------------------------------- ------- 1.2/1.5 MB 340.7 kB/s eta 0:00:01
     -------------------------------- ------- 1.2/1.5 MB 342.0 kB/s eta 0:00:01
     -------------------------------- ------- 1.2/1.5 MB 342.0 kB/s eta 0:00:01
     -------------------------------- ------- 1.2/1.5 MB 342.0 kB/s eta 0:00:01
     ---------------------------------- ----- 1.3/1.5 MB 349.7 kB/s eta 0:00:01
     ---------------------------------- ----- 1.3/1.5 MB 349.7 kB/s eta 0:00:01
     ---------------------------------- ----- 1.3/1.5 MB 348.0 kB/s eta 0:00:01
     ----------------------------------- ---- 1.3/1.5 MB 347.7 kB/s eta 0:00:01
     ------------------------------------ --- 1.4/1.5 MB 351.5 kB/s eta 0:00:01
     ------------------------------------- -- 1.4/1.5 MB 355.1 kB/s eta 0:00:01
     -------------------------------------- - 1.4/1.5 MB 361.2 kB/s eta 0:00:01
     ---------------------------------------  1.5/1.5 MB 366.1 kB/s eta 0:00:01
     ---------------------------------------  1.5/1.5 MB 365.7 kB/s eta 0:00:01
     ---------------------------------------  1.5/1.5 MB 365.2 kB/s eta 0:00:01
     ---------------------------------------- 1.5/1.5 MB 365.1 kB/s eta 0:00:00
Requirement already satisfied: click in c:\python310\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\python310\lib\site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3 (from nltk)
  Obtaining dependency information for regex>=2021.8.3 from https://files.pythonhosted.org/packages/57/64/334ac6ed71e30eb370eeef457e899a176b99bfd367937c0f7e723c604e76/regex-2023.6.3-cp310-cp310-win_amd64.whl.metadata
  Downloading regex-2023.6.3-cp310-cp310-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     --------- ------------------------------ 10.2/42.0 kB ? eta -:--:--
     --------------------------- ---------- 30.7/42.0 kB 435.7 kB/s eta 0:00:01
     --------------------------- ---------- 30.7/42.0 kB 435.7 kB/s eta 0:00:01
     --------------------------- ---------- 30.7/42.0 kB 435.7 kB/s eta 0:00:01
     -------------------------------------- 42.0/42.0 kB 203.4 kB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\python310\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: colorama in c:\python310\lib\site-packages (from click->nltk) (0.4.6)
Downloading regex-2023.6.3-cp310-cp310-win_amd64.whl (268 kB)
   ---------------------------------------- 0.0/268.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/268.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/268.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/268.0 kB ? eta -:--:--
   ----- --------------------------------- 41.0/268.0 kB 393.8 kB/s eta 0:00:01
   ------------- ------------------------- 92.2/268.0 kB 581.0 kB/s eta 0:00:01
   --------------- ---------------------- 112.6/268.0 kB 595.3 kB/s eta 0:00:01
   --------------- ---------------------- 112.6/268.0 kB 595.3 kB/s eta 0:00:01
   --------------- ---------------------- 112.6/268.0 kB 595.3 kB/s eta 0:00:01
   ----------------- -------------------- 122.9/268.0 kB 359.9 kB/s eta 0:00:01
   ----------------- -------------------- 122.9/268.0 kB 359.9 kB/s eta 0:00:01
   ----------------- -------------------- 122.9/268.0 kB 359.9 kB/s eta 0:00:01
   ----------------- -------------------- 122.9/268.0 kB 359.9 kB/s eta 0:00:01
   ----------------- -------------------- 122.9/268.0 kB 359.9 kB/s eta 0:00:01
   -------------------- ----------------- 143.4/268.0 kB 250.7 kB/s eta 0:00:01
   ------------------------ ------------- 174.1/268.0 kB 283.5 kB/s eta 0:00:01
   --------------------------- ---------- 194.6/268.0 kB 310.3 kB/s eta 0:00:01
   --------------------------------- ---- 235.5/268.0 kB 343.4 kB/s eta 0:00:01
   ------------------------------------ - 256.0/268.0 kB 357.2 kB/s eta 0:00:01
   -------------------------------------  266.2/268.0 kB 348.3 kB/s eta 0:00:01
   -------------------------------------- 268.0/268.0 kB 343.7 kB/s eta 0:00:00
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.6.3

In [63]:
import nltk

In [64]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [70]:
def stem(text):
    y = []
    for i in text.split():
            y.append(ps.stem(i))
    return ' '.join(y)

In [73]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\HP\AppData\Local\Temp\ipykernel_2652\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [74]:
ps.stem('loved')

'love'

In [68]:
ps.stem('loving')

'love'

In [69]:
ps.stem('dancing')

'danc'

In [71]:
stem('In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [75]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [76]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [77]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [78]:
# calculation of distance between movies using cosine distance

In [79]:
from sklearn.metrics.pairwise import cosine_similarity

In [82]:
similarity = cosine_similarity(vectors)

In [83]:
similarity.shape

(4806, 4806)

In [91]:
# similarity of first movie with all other movies. 
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.2503866978335957)]

In [98]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [106]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [107]:
recommend('Spectre')

Quantum of Solace
Skyfall
Never Say Never Again
From Russia with Love
Octopussy